@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'valorant';
  src: url(./fonts/Valorant.ttf);
}

html,
body {
  background: #171717;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
